* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 323px 393px 712px 493px;
    background-color: #445162;
}

.header,
.reviews,
.buy,
.contacts {
    grid-column: 1/ -1;
}

.header,
.contacts {
    background-color: #445162;
}

.reviews {
    background-color: #f5f5f5;
}

.buy {
    background-color: #fff;
}

.reviews h3,
.buy h3 {
    color: #445162;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    color: #ffffff;
}

h1.header-name {
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 28px;
}

ul.header-list {
    list-style: none;
}

li.header-list__item {
    font-size: 20px;
    line-height: 36px;
    ;
}

h3.section-title {
    margin: 30px 0 0;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.reviews-block {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
}

.reviews-block__item {
    width: calc(50% - 20px);
    display: flex;
    margin-right: 20px;
}


/* .reviews-block__item > div {
    flex: 3 7;
} */

.reviews-userpick {
    background-color: #445162;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
    margin: 8px 20px 0 0;
    flex: 1;
}

.reviews-text {
    padding: 16px;
    background-color: #ebebeb;
    border-radius: 5px;
    flex: 6;
    margin: 0 30px 30px 0;
}

.reviews-text__quote {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 5px;
}

.reviews-text__author {
    font-size: 14px;
    color: #989898;
}

.cards {
    margin: 30px 145px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card {
    background-color: #445162;
    border: 1px solid #445162;
    border-radius: 5px;
    width: 30%;
}

.card-title {
    font-size: 24px;
    padding: 12px 22px;
}

.card-title, .card-list {
    color: #ffffff;
    text-align: center;
}

.card-price {
    font-size: 40px;
    color: #445162;
    background-color: #ffffff;
    text-align: center;
    padding: 11px 0;
}

.card-list {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 22px;
}

.card-list ol {
    margin: 0;
    padding: 10px;
}

button.card-button {
    display: block;
    text-transform: uppercase;
    color: #445162;
    background-color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 11px 0;
    width: 260px;
    margin: 0 auto 20px;
}

.skewedBox {
    transform: skew(0deg, 2.4deg) translateY(-120px);
    /* padding: 60px 0 100px; */
    margin-top: 77px;
}

.contacts-container {
    transform: skew(0deg, -2.4deg) translateY(70px);
    margin-top: -78px;
}

.contacts-title {
    color: #ffffff;
}

.contacts-blocks {
    display: flex;
    justify-content: center;
    margin: 25px 248px 0;
}

.contacts-form {
    flex: 7;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 45px;
}

.form .form-row {
    padding: 10px;
    margin-bottom: 23px;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #445162;
}

.form textarea {
    height: 170px;
}

.btn {
    text-align: center;
    border: none;
    padding: 10px;
    margin: 0 auto;
    width: 140px;
    border-radius: 5px;
    text-transform: uppercase;
}

.contacts-requisites {
    flex: 3;
}

.contacts-requisites__contact {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer {
    background-color: #445162;
    height: 60px;
}